extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Wash Station", [
                {
                    href: "/#section-1",
                    name: "Donate"
                },
                {
                    href: "/#section-2",
                    name: "Order"
                },
                {
                    href: "/#section-3",
                    name: "About"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
