Psection(class="canvas section-1" id="section-1")

    h2 Donate

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Donate a kit or contribute to the cause

                p.
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis,
                    praesentium voluptatum deleniti atque corrupti quos dolores et quas.

    +nav-1("section-2")
